@import "variables";

ul {
  background-color: $darkColor;
}

.separatorContainer {
  padding-top: 60px;
  .landingSeparator {
    margin-top: 0;
  }
}

.gallery {
  margin-top: $margin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  .column {
    width: 100%;
    img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: $borderRadius;
    }
  }
}
