$darkColor: #2e1760;
$darkAccent: #230c3c;
$accent: #3b90e5;
$lightColor: #ffffff;

$margin: 5rem;
$borderRadius: 30px;

$headSize: 12rem;
$subheadingSize: 6rem;

@font-face {
  font-family: "handlettering";
  src: url("../fonts/Handlettering-Regular-Kerned.ttf") format("truetype");
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    .push {
      margin-left: auto;
    }
    .home {
      font-size: 2rem;
      font-family: "handlettering", sans-serif;
    }
    li {
      padding: 1rem;
      padding-left: 0;
      a {
        color: $lightColor;
        text-decoration: none;
        transition: color 1s ease;
        &:hover {
          color: $accent;
        }
      }
    }
  }
}

.content {
  height: 100%;
}

.titleSection {
  padding-left: 10%;
  background-color: $darkColor;
  display: flex;
  width: 90%;
  height: 100%;
  div {
    @include flex-center();
    img {
      height: 120%;
      width: auto;
    }
  }
  .imgContainer {
    flex: 1;
  }
}

.separatorContainer {
  background-color: $darkColor;
  .landingSeparator {
    width: 100%;
    margin-bottom: -5px;
  }
}

h1,
h2 {
  font-family: "handlettering";
  font-kerning: normal;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: $headSize;
  color: $lightColor;
  margin-bottom: -1.5rem;
}

h2 {
  font-size: $subheadingSize;
  font-weight: 600;
  color: $accent;
}

.mainSection {
  margin-top: -10%;
  padding: 10%;
  padding-top: 0;
  h2 {
    color: $darkAccent;
  }
  button {
    align-self: center;
    color: $lightColor;
    background-color: $darkColor;
    border-style: none;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    font-family: "roboto", "sans-serif";
    border-radius: 2rem;
  }
}

.buttonContainer {
  @include flex-center();
}

.miniGallery {
  margin-top: $margin;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  img {
    width: 100%;
    border-radius: $borderRadius;
  }
}

.processSection {
  margin-top: $margin;
  h2 {
    margin-bottom: $margin;
  }
  div {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: $darkColor;
    border-radius: $borderRadius;
    video {
      border-radius: $borderRadius;
    }
  }
}
