@import "variables";

@font-face {
  font-family: "handlettering";
  src: url("../fonts/Handlettering-Regular-Kerned.ttf") format("truetype");
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s ease;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    .push {
      margin-left: auto;
    }
    li {
      font-size: 2rem;
      font-family: "handlettering", sans-serif;
      padding: 1rem;
      padding-left: 0;
      a {
        color: $lightColor;
        text-decoration: none;
        transition: color 1s ease;
        &:hover {
          color: $accent;
        }
      }
      a:not(.homeText) {
        color: $accent;
        &:hover {
          color: $lightColor;
        }
      }
    }
  }
}

.content {
  height: 100%;
}

.titleSection {
  padding-left: 10%;
  background-color: $darkColor;
  display: flex;
  width: 90%;
  height: 100%;
  div {
    @include flex-center();
    img {
      height: 120%;
      width: auto;
    }
  }
  .imgContainer {
    flex: 1;
  }
}

.separatorContainer {
  background-color: $darkColor;
  .landingSeparator {
    margin-top: -15%;
    width: 100%;
    margin-bottom: -5px;
  }
}

h1,
h2 {
  font-family: "handlettering";
  font-kerning: normal;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: $headSize;
  color: $lightColor;
  margin-bottom: -1.5rem;
}

h2 {
  font-size: $subheadingSize;
  font-weight: 600;
  color: $accent;
}

.mainSection {
  margin-top: -10%;
  padding: 10%;
  padding-top: 0;
  h2 {
    color: $darkAccent;
  }
  button {
    align-self: center;
    background-color: $darkColor;
    border-style: none;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.4s ease;
    &:hover {
      background-color: $darkAccent;
    }
  }
}

.buttonContainer {
  @include flex-center();
}

.miniGallery {
  margin-top: $margin;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  img {
    width: 100%;
    border-radius: $borderRadius;
  }
}

.processSection {
  margin-top: $margin;
  h2 {
    margin-bottom: $margin;
  }
  div {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: $lightAccent;
    border-radius: $borderRadius;
    display: flex;
    * {
      flex: 1;
    }
    video {
      border-radius: $borderRadius;
    }
    p {
      color: $darkAccent;
    }
  }
}

p {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
button {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  color: $lightColor;
}

.footerSvg {
  margin-top: -15%;
}

.footer {
  margin-top: -5%;
  background-color: $darkColor;
  padding: 1rem;
  @include flex-center();
  p {
    margin: 0.5rem;
  }
  a {
    text-decoration: none;
    color: $lightColor;
  }
}
